Source: io.elementary.settings.wacom
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgranite-7-dev,
               libgudev-1.0-dev,
               libswitchboard-3-dev,
               libwacom-dev,
               libx11-dev,
               libxi-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-wacom

Package: io.elementary.settings.wacom
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: io.elementary.settings
Description: Wacom plugin for Switchboard
 This plug configures wacom devices.
